.schedule-bar-day {
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(188, 178, 178);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  height: 30px;
  width: 100%;
}

.schedule-slot {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: rgb(188, 178, 178);
}

.schedule-slot.free {
  background: #22c55e;
}

.schedule-slot.busy {
  background: #ef4444;
}
